<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>634009923785-ovg5s1dl2n79qj0v42m2ksnetqfmr3tn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634009923785-ovg5s1dl2n79qj0v42m2ksnetqfmr3tn</string>
	<key>API_KEY</key>
	<string>AIzaSyClsbLbswdDydfLAFstQMaHRR8D2FEp11M</string>
	<key>GCM_SENDER_ID</key>
	<string>634009923785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xudafeng.feedit-ios</string>
	<key>PROJECT_ID</key>
	<string>feedit-251cb</string>
	<key>STORAGE_BUCKET</key>
	<string>feedit-251cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634009923785:ios:7950c099725734bf</string>
	<key>DATABASE_URL</key>
	<string>https://feedit-251cb.firebaseio.com</string>
</dict>
</plist>